APIKEY = "AIzaSyCjlKgR6hkvTi-OS3V1JpOh9ql-BXz_TBg"
AUTHDOMAIN="fedeguitars-6d90e.firebaseapp.com"
PROJECTID= "fedeguitars-6d90e"
STORAGEBUCKET=  "fedeguitars-6d90e.appspot.com"
MESSAGINGSENDERID= "583799151647"
APPID= "1:583799151647:web:b6ea09b7e20ccd85ee892a"